@import-normalize;

html,
body,
main,
#root {
  height: 100%;
}

@font-face {
  font-family: 'FiraCode';
  src: local('FiraCode-Regular'), local('FiraCode-Medium'),
    local('FiraCode-SemiBold'),
    url('./fonts/FiraCode-Regular.ttf') format('truetype'),
    url('./fonts/FiraCode-Medium.ttf') format('truetype'),
    url('./fonts/FiraCode-SemiBold.ttf') format('truetype');
}

body {
  padding: 5px;
  margin: 0;

  font-size: 16px;
  line-height: normal;
  color: #607b96;
  background-color: #010c15;

  font-family: 'FiraCode', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  ::-webkit-scrollbar {
    background-color: #011627;
    width: 8px;
    height: 6px;

    border-left: 1px solid #1e2d3d;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #607b96;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
